html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

*,
*::before,
*::after{
      box-sizing: inherit;
}
  

body{
    background-color: #fff;
    color: #313841;
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    height: 100%;
}

p{
    margin: 0;
    padding: 1.4rem 2rem;
}

#full-player{
    background-color: #f5f5f5;
    border-radius: 3px;
    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.21);
    margin: 2rem auto;
    height: 400px;
    width: 700px;
}

#full-wrapper{
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.half{
    width: 50%;
}

.half:first-child{
    border-right: 1px solid rgb(196, 196, 196);
}

.header{
    background-color:  #549b98;
    display: flex;
    flex-flow: row;
    width: 100%;
}
.swal-overlay {
    background-color: #a1f8f556;
}

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #549b98;
    font-size: 12px;
    border: 1px solid #549b98;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.control_panel{
    display: flex;
    flex-flow: row;
    width: 100%;
    flex-wrap: wrap;
}

audio{
    width: 600px;
    height: 100px;
}

h4{
    margin: 0;
    padding: 20px 10px;
}

button.plus{
    background-color: transparent;
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(/assets/plus.svg);
    border: 0;
    font-weight: bold;
    width: 60px;
    height: 57px;
    transition: 0.5s;
}

button.plus:hover{
    background-color: #ddc3ff;
}

#picture{
    background-image: url(/assets/music-placeholder.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px; 
    width: 100px;
}

